.imageWrapper {
  position: relative;
  width: calc(33.33% - 10px); /* Adjust as needed */
  margin-bottom: 20px; /* Adjust as needed */
  height: 500px;
}

@media screen and (max-width: 768px) {
  .imageWrapper {
    width: calc(50% - 10px); /* Adjust as needed */
  }
}

@media screen and (max-width: 480px) {
  .imageWrapper {
    width: 100%;
  }
}