html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  font-weight: bold;
}

/* MAIN */

main {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.25;
  max-width: 1500px;
  margin: auto;
}
@media (min-width: 300px) {
  main {
    padding: 3rem 1.5rem;
  }
}
@media (min-width: 600px) {
  main {
    padding: 6rem;
  }
}
@media (min-width: 1600px) {
  main {
    padding: 6rem 12rem;
  }
}

[data-theme="dark"] {
  background-color: #1f2028;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  color: #ffffff;
}

[data-theme="light"] {
  background-color: #ffffff;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  color: #1f2028;
}

/* THEME BUTTON ICON FADE */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.theme-icon {
  animation: fadeIn 1s ease;
}

/* THEME BUTTON */

.circle-button {
  width: 52px;
  height: 52px;
  min-width: 52px;
  border-radius: 50%;
  background-color: transparent;
}
.circle-button:hover {
  cursor: pointer;
}
[data-theme="dark"] .circle-button {
  border: 2px solid #4b4c53;
}
[data-theme="light"] .circle-button {
  border: 2px solid #535661;
}
@media (min-width: 600px) {
  [data-theme="dark"] .circle-button:hover {
    border: 2px solid #ffffff;
  }
  [data-theme="light"] .circle-button:hover {
    border: 2px solid #000000;
  }
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 48px;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  max-width: 1590px;
  margin: auto;
}
@media (max-width: 600px) {
  .navbar {
    padding: 20px;
  }
}

/* LINKS */

.navbar ul {
  display: flex;
  flex-direction: row;
  text-align: "center";
  font-size: 18px;
  font-weight: 300;
  padding-left: 0px;
  list-style: none;
  text-decoration: none;
}
.navbar li {
  padding: 8px 20px;
}
.navbar a {
  text-decoration: none;
}

/* LINKS MOBILE */

@media (max-width: 650px) {
  .navbar ul {
    display: none;
  }

  .navbar ul.show {
    display: block;
  }
}

/* LOGO */

.logo-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.logo {
  font-size: 24px;
  white-space: nowrap;
  font-weight: 400;
  margin-right: 8px;
}
@media (max-width: 450px) {
  .logo {
    font-size: 18px;
  }
}
[data-theme="dark"] .logo {
  color: #ffffff;
}
[data-theme="light"] .logo {
  color: #000000;
}

/* UNDERLINE EFFECT */

.underline-grow {
  position: relative;
  text-decoration: none;
  padding: 5px 0px;
}
.underline-grow::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1.7px;
  transition: width 0.3s ease;
}
@media (min-width: 600px) {
  .underline-grow:hover::before {
    width: 100%;
  }

  .underline-grow-stable::before {
    width: 100%;
  }
}
[data-theme="dark"] .underline-grow::before {
  background-color: #ffffff;
}
[data-theme="light"] .underline-grow::before {
  background-color: #000000;
}

/* HEADINGS */

h1,
h2,
h3 {
  font-weight: 400;
}

/* TEXT */

li {
  line-height: 28px;
}
p {
  font-size: 16px;
  line-height: 28px;
}
[data-theme="dark"] p,
[data-theme="dark"] li {
  color: #c8c8c8;
}
[data-theme="light"] p,
[data-theme="light"] li {
  color: #373941;
}

/* UTILITY CLASSES */

.symbol-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: color 0.2s ease;
}
[data-theme="dark"] .symbol-link {
  text-decoration-color: #ffd644;
}
[data-theme="light"] .symbol-link {
  text-decoration-color: #b38600;
}
[data-theme="dark"] .symbol-link:hover {
  color: #ffd644;
}
[data-theme="light"] .symbol-link:hover {
  color: #b38600;
}

.f-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 400px) {
  .yellowBorder {
    border-radius: 12px;
    margin: -7px;
    padding: 5px;
  }
  [data-theme="dark"] .yellowBorder {
    border: #ffd644 2px solid;
  }
  [data-theme="light"] .yellowBorder {
    border: #1f2028 2px solid;
  }

  .redBorder {
    margin: -7px;
    padding: 5px;
    border: #ff4545 2px solid;
    border-radius: 12px;
  }

  .blueBorder {
    margin: -7px;
    padding: 5px;
    border: 2px solid var(--blue);
    border-radius: 12px;
  }
}
