.button {
    padding: 1.5rem 2.5rem;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    display: block;
}

.button:hover {
  cursor: pointer;
}

[data-theme="dark"] .button {
  background-color: white;
  color: black
}
[data-theme="light"] .button {
  background-color: black;
  color: white
}
